body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width:1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 50px 500px auto auto 200px auto auto;
    grid-gap: 10px;
    grid-template-areas:
      "header"
      "nav"
      "banner"
      "top-news"
      "table"
      "whether"
      "latest-new"
      "footer";
  }
        /* @media (min-width: 300px){
            .container{
              grid-template-columns: auto 1fr;
              grid-template-rows: auto 1fr auto;
              grid-template-areas:
                "advert header"
                "advert content"
                "advert footer";
            }
          }
          
          @media (min-width: 400px){
            .container{
            
              grid-template-areas:
                "advert header"
                "advert content"
                "advert footer";
            
            }
          } */

          header{
            width:100%;
            grid-area: header;
            margin: 5px auto;
            background-color: white;
            position: relative
        }
        header img{
            /* width: 150px; */
            height: 150px;
        }
        header h1, header figure{
            display: inline;
        }
        .title{
            font-size: 70px;
            font-weight: lighter;
            font: 80px/100px;
        }
        .header-shadow{
            width:100%; 
            position: absolute; 
            z-index: -1;
            bottom: 3px;
            border-bottom: 2px solid rgba(0, 0, 0, 1);
            box-shadow: 0px 5px 10px 0px rgb(0,0,0);
            margin: 8px auto 0px auto;
        }

